footer{
    text-align:center;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top:30px;
}


#about, #contact{
    margin-bottom:50px;
}

.about, .contact{
    margin-bottom:100px;
}

.about > p{
    font-size:20px;
    max-width:80%;
    margin:20px auto; 
}

.about > img{
    min-width:20%;
    max-width:25%;
    height:auto;
}

.contact > p{
    font-size:20px;
    margin-bottom:50px; 
}

.social-media > img{
    margin-right:30px;
    margin-left:30px;
}


/* Midium Screen */
@media(min-width: 600px) and (max-width:900px) {
    footer{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .about{
        grid-area: 1 / 1 / 5 / 2;
    }
    .about > p{
        max-width:80%;
        margin:20px auto; 
    }
    .contact{
        grid-area: 1 / 2 / 5 / 3;
    }
    .social-media{
        grid-area: 5 / 1 / 6 / 3; 
        margin-top:10px;
        
    }

}


/* Large Screen */
@media(min-width: 901px){
    footer{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .about{
        grid-area: 1 / 1 / 5 / 2;
    }
    .about > p{
        max-width:80%;
        margin:20px auto; 
    }
    .contact{
        grid-area: 1 / 2 / 5 / 3;
    }
    .contact > img{
        float:left;
        width:30%;
    }
    .social-media{
        grid-area: 5 / 1 / 6 / 3; 
        margin-bottom:0;
    }

}