footer {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 30px;
}


#about, #contact {
    margin-bottom: 50px;
}


.about, .contact {
    margin-bottom: 100px;
}


p.introduction {
    font-size: 20px;
    max-width: 80%;
    margin: 20px auto; 
}


img.profile {
    min-width: 20%;
    max-width: 25%;
    height: auto;
}


p.contact-info {
    font-size: 20px;
    margin-bottom: 50px; 
}


address {
    margin-bottom: 40px;
    font-size: 20px;
}


img.contact-img {
    width: 40px;
    height: 40px;
}


img.social {
    margin-right: 30px;
    margin-left: 30px;
    width: 30px;
    height: 30px;
}


/* Midium Screen */
@media(min-width: 600px) and (max-width:900px) {

    footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }


    .about {
        grid-area: 1 / 1 / 5 / 2;
    }


    p.introduction {
        max-width: 80%;
        margin: 20px auto; 
    }


    .contact {
        grid-area: 1 / 2 / 5 / 3;
    }


    .social-media {
        grid-area: 5 / 1 / 6 / 3; 
        margin-top: 10px;
    }

}


/* Large Screen */
@media(min-width: 901px) {

    footer{ 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }


    .about {
        grid-area: 1 / 1 / 5 / 2;
    }


    p.introduction {
        max-width: 80%;
        margin: 20px auto; 
    }


    .contact {
        grid-area: 1 / 2 / 5 / 3;
    }


    div.contact-containerimg .contact-img {
        float: left;
        width: 30%;
    }


    .social-media {
        grid-area: 5 / 1 / 6 / 3; 
    }

}